body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #111;
  position: relative;
  z-index: -2;
  overflow: hidden;
}

#map {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  cursor: url('map-marker-radius.png'), auto !important;
}

#logo {
  font-family: 'Magz', sans-serif;
  font-size: 5em;
  color: #f542da;
  text-shadow: 2px 2px #88eeff;
  animation-name: logo-color;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  position: absolute;
  top: 50px;
  left: 50px;
  margin: 0;
}

@keyframes logo-color {
  from {
    color: #f542da;
  }
  to {
    color: #8d42f5;
  }
}

.fuel-discounts {
  color: white;
  position: absolute;
  top: 150px;
  left: 50px;
  font-family: 'Magz', sans-serif;
}

.inputs {
  position: absolute;
  top: 175px;
  left: 50px;
  padding: 0;
  margin: 0;
  
}

::placeholder {
  font-family: 'Magz', sans-serif;
  font-size: small;
  font-weight: bold;
  padding-left: 0.5rem;
}

.fuel-discounts: {
}

#btn {
  font-family: 'Magz', sans-serif;
  font-size: 2rem;
  color: #88eeff;
  background-color: transparent;
  border-width: 0;
  position: absolute;
  bottom: 0;
  left: 100px;
}

#btn:hover {
  color:aqua;
}

#car {
  width: 5rem;
  height: 3rem;
  position: absolute;
  bottom: 0;
  left: -100px;
  animation-name: car;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  position: absolute;
}


@keyframes car {
  0% {
    left: -100px;
  }
  50% {
    left: 200px;
  }
  100% {
    left: 3000px;
  }
}